

.score {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    font-family: Arial, sans-serif;
    color: #333;
}

.bubble-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

.bubble {
    position: absolute;
    bottom: -100px;
    border-radius: 50%;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    cursor: pointer;
    animation: move 10s linear infinite;
    z-index:-1;
}

@keyframes move {
    0% {
        transform: translateY(0) scale(1);
    }
    100% {
        transform: translateY(-120vh) scale(1.5);
    }
}
